ADF_REPO/pipeline/REST_to_BLOB.json
{
	"name": "REST_to_BLOB",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('Upperlimit'),50)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set Lower Limit",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Lowerlimit",
								"value": {
									"value": "@variables('Upperlimit')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Upper Limit",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Upperlimit",
								"value": {
									"value": "@string(add(int(variables('Lowerlimit')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Set Lower Limit",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@{concat('https://surveybot.io/api/v1/surveys/4cd466510cda3fda20b4fb320e6de470/responses?page=',variables('Lowerlimit'),'&per_page=5&offset=0&api_key=Z4ehauCnEHozaX_JGcLR9eYf26Aj6SApp4_eEp-HKnYD_t2eOXjncLynX4qqtX-P9x28B4Mnqud6Rx0Q')}",
									"type": "Expression"
								},
								"linkedServices": [],
								"datasets": []
							}
						}
					],
					"timeout": "0.00:20:00"
				}
			}
		],
		"variables": {
			"Lowerlimit": {
				"type": "String",
				"defaultValue": "0"
			},
			"Upperlimit": {
				"type": "String",
				"defaultValue": "1"
			}
		},
		"annotations": []
	}
}