SAPECC/PartialArmTemplates/ArmTemplate_8_16_2020_20_38_53.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "SAPECC"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/IDMS Dataflow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "IDMS O365 Dataflow",
				"activities": [
					{
						"name": "Update O365 IDMS Data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "O365 dataflow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "Health And Travel/o365 And IDMS Files/Latest File",
									"wildcardFileName": "*csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "restapi/Health And Travel/o365 Error Logs"
							},
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "UserName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UserName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DisplayName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DisplayName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EmployeeId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EmployeeId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsExecutiveEmployee",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IsExecEmp",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EmailId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EmailId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TelephoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TelNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "HomephoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HomePhNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PostalCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PostalAddress",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PostalAddress",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TerminationDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TerminationDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "IsActive",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IsActive",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EmployeeType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EmployeeType",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "CostCenter",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CostCenter",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CompanyName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CompanyName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DepartmentName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DeptName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DivisionName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DivName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SectionName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SectName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PositionName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PostionName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EmployeeSubArea",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EESubArea",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EESubGroupName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EESubGrpName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BranchName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BranchName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UnitName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UnitName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WP.Full Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WPFullName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WP.Email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WPEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WorkLocationDescription",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WrkLocDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Manager.DisplayName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MgrDispName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Manager.EmailId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MgrEmailId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Supervisor.DisplayName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SupDispName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Supervisor.EmailId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SupEmailId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EEGroup Description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EEGroupDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "o365_Data",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "IDMS_Test",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "O365 dataflow",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Check Files Exists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow2",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					},
					{
						"name": "Check Files Exists",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "o365_Data",
								"type": "DatasetReference"
							},
							"timeout": "0.00:01:60",
							"sleep": 60,
							"childItems": true
						}
					}
				],
				"folder": {
					"name": "BOT Analysis"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/o365_Data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BOT_ANALYSIS_HEALTH')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "BOT ANALYSIS HEALTH",
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase3",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BOT-ANALYSIS"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "tID",
						"type": "uniqueidentifier"
					},
					{
						"name": "tWorkplaceID",
						"type": "nvarchar"
					},
					{
						"name": "tReadDate",
						"type": "date"
					},
					{
						"name": "tReadTime",
						"type": "time",
						"scale": 7
					},
					{
						"name": "tTemperature",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "tSymptoms",
						"type": "nvarchar"
					},
					{
						"name": "tRisks",
						"type": "nvarchar"
					},
					{
						"name": "tSeenDoc",
						"type": "nvarchar"
					},
					{
						"name": "tCreateDateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Concern",
						"type": "nvarchar"
					},
					{
						"name": "tTravelHistory",
						"type": "nchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tblHealth"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BOT_ANALYSIS_TRAVEL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "BOT ANALYSIS TRAVEL",
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase3",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BOT-ANALYSIS"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "tTravelID",
						"type": "uniqueidentifier"
					},
					{
						"name": "tWorkplaceID",
						"type": "nvarchar"
					},
					{
						"name": "tTravelStatus",
						"type": "nvarchar"
					},
					{
						"name": "tTravelDestination",
						"type": "nvarchar"
					},
					{
						"name": "tTravelStartDate",
						"type": "date"
					},
					{
						"name": "tTravelEndDate",
						"type": "date"
					},
					{
						"name": "tTravelRisk",
						"type": "nvarchar"
					},
					{
						"name": "tTravelQuarantine",
						"type": "nvarchar"
					},
					{
						"name": "tCreateDateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tblTravel"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IDMS_o365')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "IDMS o365 Data",
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase3",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BOT-ANALYSIS"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "UserName",
						"type": "nvarchar"
					},
					{
						"name": "DisplayName",
						"type": "nvarchar"
					},
					{
						"name": "EmployeeId",
						"type": "nvarchar"
					},
					{
						"name": "IsExecEmp",
						"type": "nvarchar"
					},
					{
						"name": "EmailId",
						"type": "nvarchar"
					},
					{
						"name": "TelNumber",
						"type": "nvarchar"
					},
					{
						"name": "HomePhNumber",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "PostalAddress",
						"type": "nvarchar"
					},
					{
						"name": "TerminationDate",
						"type": "date"
					},
					{
						"name": "IsActive",
						"type": "nvarchar"
					},
					{
						"name": "EmployeeType",
						"type": "nchar"
					},
					{
						"name": "CostCenter",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "DeptName",
						"type": "nvarchar"
					},
					{
						"name": "DivName",
						"type": "nvarchar"
					},
					{
						"name": "SectName",
						"type": "nvarchar"
					},
					{
						"name": "PostionName",
						"type": "nvarchar"
					},
					{
						"name": "EESubArea",
						"type": "nvarchar"
					},
					{
						"name": "EESubGrpName",
						"type": "nvarchar"
					},
					{
						"name": "BranchName",
						"type": "nvarchar"
					},
					{
						"name": "UnitName",
						"type": "nvarchar"
					},
					{
						"name": "WPFullName",
						"type": "nvarchar"
					},
					{
						"name": "WPEmail",
						"type": "nvarchar"
					},
					{
						"name": "WrkLocDesc",
						"type": "nvarchar"
					},
					{
						"name": "MgrDispName",
						"type": "nvarchar"
					},
					{
						"name": "MgrEmailId",
						"type": "nvarchar"
					},
					{
						"name": "SupDispName",
						"type": "nvarchar"
					},
					{
						"name": "SupEmailId",
						"type": "nvarchar"
					},
					{
						"name": "EEGroupDesc",
						"type": "nvarchar"
					},
					{
						"name": "BU",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "IdMS_o365_WP"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WORKATO_HEALTH')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "WORK ATO HEALTH",
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BOT-ANALYSIS"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "tID",
						"type": "uniqueidentifier"
					},
					{
						"name": "tWorkplaceID",
						"type": "nvarchar"
					},
					{
						"name": "tReadDate",
						"type": "date"
					},
					{
						"name": "tReadTime",
						"type": "time",
						"scale": 7
					},
					{
						"name": "tTemperature",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "tSymptoms",
						"type": "nvarchar"
					},
					{
						"name": "tRisks",
						"type": "nvarchar"
					},
					{
						"name": "tSeenDoc",
						"type": "nvarchar"
					},
					{
						"name": "tCreateDateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "tTravelHistory",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tblHealth"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WORK_ATO_TRAVEL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "WORK ATO TRAVEL",
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BOT-ANALYSIS"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "tTravelID",
						"type": "uniqueidentifier"
					},
					{
						"name": "tWorkplaceID",
						"type": "nvarchar"
					},
					{
						"name": "tTravelStatus",
						"type": "nvarchar"
					},
					{
						"name": "tTravelDestination",
						"type": "nvarchar"
					},
					{
						"name": "tTravelStartDate",
						"type": "date"
					},
					{
						"name": "tTravelEndDate",
						"type": "date"
					},
					{
						"name": "tTravelRisk",
						"type": "nvarchar"
					},
					{
						"name": "tTravelQuarantine",
						"type": "nvarchar"
					},
					{
						"name": "tCreateDateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tblTravel"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/o365_Data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BOT-ANALYSIS"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Health And Travel/o365 And IDMS Files/Latest File",
						"container": "restapi"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		}
	]
}