SAPECC/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "SAPECC"
		},
		"SapHana1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SapHana1'"
		},
		"SAPECC_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "100"
		},
		"SAPECC_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "vivek02"
		},
		"SAPECC_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "myerpabapdev.smrt.com.sg"
		},
		"SAPECC_properties_typeProperties_systemNumber": {
			"type": "string",
			"defaultValue": "00"
		},
		"SAPED1_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "100"
		},
		"SAPED1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "vivek02"
		},
		"SAPED1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "myerpabapdev.smrt.com.sg"
		},
		"SAPED1_properties_typeProperties_systemNumber": {
			"type": "string",
			"defaultValue": "00"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "data_9953298f-34c8-44d8-a45d-030efa99f637_9bc99a4c-2247-4f55-923f-7efc49645462.parquet",
						"folderPath": "bot",
						"container": "myrestapi"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "started_at",
						"type": "UTF8"
					},
					{
						"name": "completed_at",
						"type": "UTF8"
					},
					{
						"name": "id",
						"type": "UTF8"
					},
					{
						"name": "emp_id",
						"type": "INT64"
					},
					{
						"name": "name",
						"type": "UTF8"
					},
					{
						"name": "first_name",
						"type": "UTF8"
					},
					{
						"name": "last_name",
						"type": "UTF8"
					},
					{
						"name": "question_id",
						"type": "INT64"
					},
					{
						"name": "question_text",
						"type": "UTF8"
					},
					{
						"name": "content",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"url": {
						"type": "string",
						"defaultValue": "1"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@{concat('https://surveybot.io/api/v1/surveys/4cd466510cda3fda20b4fb320e6de470/responses?page=',dataset().url,'&per_page=5&offset=0&api_key=Z4ehauCnEHozaX_JGcLR9eYf26Aj6SApp4_eEp-HKnYD_t2eOXjncLynX4qqtX-P9x28B4Mnqud6Rx0Q')}",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WORKATO_HEALTH')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "WORK ATO HEALTH",
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "tID",
						"type": "uniqueidentifier"
					},
					{
						"name": "tWorkplaceID",
						"type": "nvarchar"
					},
					{
						"name": "tReadDate",
						"type": "date"
					},
					{
						"name": "tReadTime",
						"type": "time",
						"scale": 7
					},
					{
						"name": "tTemperature",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "tSymptoms",
						"type": "nvarchar"
					},
					{
						"name": "tRisks",
						"type": "nvarchar"
					},
					{
						"name": "tSeenDoc",
						"type": "nvarchar"
					},
					{
						"name": "tCreateDateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tblHealth"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WORK_ATO_TRAVEL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "WORK ATO TRAVEL",
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "tTravelID",
						"type": "uniqueidentifier"
					},
					{
						"name": "tWorkplaceID",
						"type": "nvarchar"
					},
					{
						"name": "tTravelStatus",
						"type": "nvarchar"
					},
					{
						"name": "tTravelDestination",
						"type": "nvarchar"
					},
					{
						"name": "tTravelStartDate",
						"type": "date"
					},
					{
						"name": "tTravelEndDate",
						"type": "date"
					},
					{
						"name": "tTravelRisk",
						"type": "nvarchar"
					},
					{
						"name": "tTravelQuarantine",
						"type": "nvarchar"
					},
					{
						"name": "tCreateDateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tblTravel"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WaterMarkTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "WatermarkValue",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "watermarktable"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAPECC')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SAPECC",
				"annotations": [],
				"type": "SapTable",
				"typeProperties": {
					"clientId": "[parameters('SAPECC_properties_typeProperties_clientId')]",
					"language": "en",
					"sncMode": false,
					"userName": "[parameters('SAPECC_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "vivek02"
					},
					"server": "[parameters('SAPECC_properties_typeProperties_server')]",
					"systemNumber": "[parameters('SAPECC_properties_typeProperties_systemNumber')]"
				},
				"connectVia": {
					"referenceName": "SAP-IntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAPED1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SAPED1",
				"annotations": [],
				"type": "SapTable",
				"typeProperties": {
					"clientId": "[parameters('SAPED1_properties_typeProperties_clientId')]",
					"language": "",
					"sncMode": false,
					"userName": "[parameters('SAPED1_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "vivek02"
					},
					"server": "[parameters('SAPED1_properties_typeProperties_server')]",
					"systemNumber": "[parameters('SAPED1_properties_typeProperties_systemNumber')]"
				},
				"connectVia": {
					"referenceName": "SAP-IntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SapHana1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "HANA views",
				"annotations": [],
				"type": "SapHana",
				"typeProperties": {
					"connectionString": "[parameters('SapHana1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "SAP-IntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BLOB_to_SQL Test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BLOB to SQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['responses_started_at']"
										},
										"sink": {
											"name": "Started_at",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['responses_completed_at']"
										},
										"sink": {
											"name": "Completed_at",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['responses_id']"
										},
										"sink": {
											"name": "GUID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['respondent_id']"
										},
										"sink": {
											"name": "Emp_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['respondent_name']"
										},
										"sink": {
											"name": "Emp_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['respondent_first_name']"
										},
										"sink": {
											"name": "First_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['respondent_last_name']"
										},
										"sink": {
											"name": "Last_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['answers_question_id']"
										},
										"sink": {
											"name": "Question_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['answers_question_text']"
										},
										"sink": {
											"name": "Question_text",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['answers_content']"
										},
										"sink": {
											"name": "Answer",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Json1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable5",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Health BOT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Rest Copy",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['question_id']"
										},
										"sink": {
											"name": "Question_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['question_text']"
										},
										"sink": {
											"name": "Question_text",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['content']"
										},
										"sink": {
											"name": "Answer",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['responses'][0]['started_at']"
										},
										"sink": {
											"name": "Started_at",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['responses'][0]['completed_at']"
										},
										"sink": {
											"name": "Completed_at",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['responses'][0]['id']"
										},
										"sink": {
											"name": "GUID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['responses'][0]['respondent']['id']"
										},
										"sink": {
											"name": "Emp_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['responses'][0]['respondent']['name']"
										},
										"sink": {
											"name": "Emp_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['responses'][0]['respondent']['first_name']"
										},
										"sink": {
											"name": "First_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['responses'][0]['respondent']['last_name']"
										},
										"sink": {
											"name": "Last_name",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['responses'][0]['answers']"
							}
						},
						"inputs": [
							{
								"referenceName": "RestResource1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable5",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestResource1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Health Data Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Health Data",
						"description": "Health Data Pipeline",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[Health_sto_proc]",
								"sqlWriterTableType": "TypHealth",
								"storedProcedureTableTypeParameterName": "Health"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "tID",
											"type": "Guid"
										},
										"sink": {
											"name": "tID",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "tWorkplaceID",
											"type": "String"
										},
										"sink": {
											"name": "tWorkplaceID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "tReadDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "tReadDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "tReadTime",
											"type": "TimeSpan"
										},
										"sink": {
											"name": "tReadTime",
											"type": "TimeSpan"
										}
									},
									{
										"source": {
											"name": "tTemperature",
											"type": "Decimal"
										},
										"sink": {
											"name": "tTemperature",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "tSymptoms",
											"type": "String"
										},
										"sink": {
											"name": "tSymptoms",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "tRisks",
											"type": "String"
										},
										"sink": {
											"name": "tRisks",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "tSeenDoc",
											"type": "String"
										},
										"sink": {
											"name": "tSeenDoc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "tCreateDateTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "tCreateDateTime",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "WORKATO_HEALTH",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "BOT_ANALYSIS_HEALTH",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "BOT Analysis"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/WORKATO_HEALTH')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IDMS O365 Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "IDMS & o365 Data Pipeline",
				"activities": [
					{
						"name": "IDMS O365 Pipeline",
						"description": "IDMS O365 Pipeline",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"redirectIncompatibleRowSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "restapi/Health And Travel/o365 Error Logs"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "UserName",
											"type": "String"
										},
										"sink": {
											"name": "UserName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DisplayName",
											"type": "String"
										},
										"sink": {
											"name": "DisplayName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EmployeeId",
											"type": "String"
										},
										"sink": {
											"name": "EmployeeId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IsExecutiveEmployee",
											"type": "String"
										},
										"sink": {
											"name": "IsExecEmp",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EmailId",
											"type": "String"
										},
										"sink": {
											"name": "EmailId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TelephoneNumber",
											"type": "String"
										},
										"sink": {
											"name": "TelNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "HomephoneNumber",
											"type": "String"
										},
										"sink": {
											"name": "HomePhNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PostalCode",
											"type": "String"
										},
										"sink": {
											"name": "PostalCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PostalAddress",
											"type": "String"
										},
										"sink": {
											"name": "PostalAddress",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TerminationDate",
											"type": "String"
										},
										"sink": {
											"name": "TerminationDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "IsActive",
											"type": "String"
										},
										"sink": {
											"name": "IsActive",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EmployeeType",
											"type": "String"
										},
										"sink": {
											"name": "EmployeeType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CostCenter",
											"type": "String"
										},
										"sink": {
											"name": "CostCenter",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CompanyName",
											"type": "String"
										},
										"sink": {
											"name": "CompanyName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DepartmentName",
											"type": "String"
										},
										"sink": {
											"name": "DeptName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DivisionName",
											"type": "String"
										},
										"sink": {
											"name": "DivName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SectionName",
											"type": "String"
										},
										"sink": {
											"name": "SectName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PositionName",
											"type": "String"
										},
										"sink": {
											"name": "PostionName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EmployeeSubArea",
											"type": "String"
										},
										"sink": {
											"name": "EESubArea",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EESubGroupName",
											"type": "String"
										},
										"sink": {
											"name": "EESubGrpName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BranchName",
											"type": "String"
										},
										"sink": {
											"name": "BranchName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UnitName",
											"type": "String"
										},
										"sink": {
											"name": "UnitName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WP.Full Name",
											"type": "String"
										},
										"sink": {
											"name": "WPFullName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WP.Email",
											"type": "String"
										},
										"sink": {
											"name": "WPEmail",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WorkLocationDescription",
											"type": "String"
										},
										"sink": {
											"name": "WrkLocDesc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Manager.DisplayName",
											"type": "String"
										},
										"sink": {
											"name": "MgrDispName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Manager.EmailId",
											"type": "String"
										},
										"sink": {
											"name": "MgrEmailId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Supervisor.DisplayName",
											"type": "String"
										},
										"sink": {
											"name": "SupDispName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Supervisor.EmailId",
											"type": "String"
										},
										"sink": {
											"name": "SupEmailId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EEGroup Description",
											"type": "String"
										},
										"sink": {
											"name": "EEGroupDesc",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "IDMS_o365",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "BOT Analysis"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/REST_to_BLOB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Until1",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('Upperlimit'),50)",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set Lower Limit",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Lowerlimit",
										"value": {
											"value": "@variables('Upperlimit')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set Upper Limit",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Upperlimit",
										"value": {
											"value": "@string(add(int(variables('Lowerlimit')),1))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set Lower Limit",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET"
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "JsonWriteSettings",
												"quoteAllText": true
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RestResource1",
											"type": "DatasetReference",
											"parameters": {
												"url": {
													"value": "@variables('Lowerlimit')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Json1",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							],
							"timeout": "0.00:20:00"
						}
					}
				],
				"variables": {
					"Lowerlimit": {
						"type": "String",
						"defaultValue": "0"
					},
					"Upperlimit": {
						"type": "String",
						"defaultValue": "1"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestResource1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Travel Data Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Travel Data Pipeline",
				"activities": [
					{
						"name": "Travel Data",
						"description": "Travel Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[Travel_sto_proc]",
								"sqlWriterTableType": "TypTravel",
								"storedProcedureTableTypeParameterName": "Travel"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "tTravelID",
											"type": "Guid"
										},
										"sink": {
											"name": "tTravelID",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "tWorkplaceID",
											"type": "String"
										},
										"sink": {
											"name": "tWorkplaceID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "tTravelStatus",
											"type": "String"
										},
										"sink": {
											"name": "tTravelStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "tTravelDestination",
											"type": "String"
										},
										"sink": {
											"name": "tTravelDestination",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "tTravelStartDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "tTravelStartDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "tTravelEndDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "tTravelEndDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "tTravelRisk",
											"type": "String"
										},
										"sink": {
											"name": "tTravelRisk",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "tTravelQuarantine",
											"type": "String"
										},
										"sink": {
											"name": "tTravelQuarantine",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "tCreateDateTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "tCreateDateTime",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "WORK_ATO_TRAVEL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "BOT_ANALYSIS_TRAVEL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "BOT Analysis"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/WORK_ATO_TRAVEL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "REST API to BLOB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"quoteAllText": true
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['stats']['showing']"
										},
										"sink": {
											"path": "$['stats']['showing']"
										}
									},
									{
										"source": {
											"path": "$['stats']['total']"
										},
										"sink": {
											"path": "$['stats']['total']"
										}
									},
									{
										"source": {
											"path": "$['stats']['completed']"
										},
										"sink": {
											"path": "$['stats']['completed']"
										}
									},
									{
										"source": {
											"path": "$['stats']['incomplete']"
										},
										"sink": {
											"path": "$['stats']['incomplete']"
										}
									},
									{
										"source": {
											"path": "$['questions'][0]['id']"
										},
										"sink": {
											"path": "$['questions_id']"
										}
									},
									{
										"source": {
											"path": "$['questions'][0]['question_type']"
										},
										"sink": {
											"path": "$['questions_question_type']"
										}
									},
									{
										"source": {
											"path": "$['questions'][0]['question_text']"
										},
										"sink": {
											"path": "$['questions_question_text']"
										}
									},
									{
										"source": {
											"path": "$['questions'][0]['question_position']"
										},
										"sink": {
											"path": "$['questions_question_position']"
										}
									},
									{
										"source": {
											"path": "[['completed']"
										},
										"sink": {
											"path": "$['responses_completed']"
										}
									},
									{
										"source": {
											"path": "[['started_at']"
										},
										"sink": {
											"path": "$['responses_started_at']"
										}
									},
									{
										"source": {
											"path": "[['completed_at']"
										},
										"sink": {
											"path": "$['responses_completed_at']"
										}
									},
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"path": "$['responses_id']"
										}
									},
									{
										"source": {
											"path": "[['respondent']['id']"
										},
										"sink": {
											"path": "$['respondent_id']"
										}
									},
									{
										"source": {
											"path": "[['respondent']['name']"
										},
										"sink": {
											"path": "$['respondent_name']"
										}
									},
									{
										"source": {
											"path": "[['respondent']['first_name']"
										},
										"sink": {
											"path": "$['respondent_first_name']"
										}
									},
									{
										"source": {
											"path": "[['respondent']['last_name']"
										},
										"sink": {
											"path": "$['respondent_last_name']"
										}
									},
									{
										"source": {
											"path": "[['answers'][0]['question_id']"
										},
										"sink": {
											"path": "$['answers_question_id']"
										}
									},
									{
										"source": {
											"path": "[['answers'][0]['question_text']"
										},
										"sink": {
											"path": "$['answers_question_text']"
										}
									},
									{
										"source": {
											"path": "[['answers'][0]['content']"
										},
										"sink": {
											"path": "$['answers_content']"
										}
									}
								],
								"collectionReference": "$['responses']"
							}
						},
						"inputs": [
							{
								"referenceName": "RestResource1",
								"type": "DatasetReference",
								"parameters": {
									"url": "3"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Json1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"parameters": {
					"url": {
						"type": "string",
						"defaultValue": "/url"
					}
				},
				"variables": {
					"Lowerlimit": {
						"type": "String",
						"defaultValue": "0"
					},
					"Upperlimit": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestResource1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SapTableResource1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SAPED1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SapTableResource",
				"schema": [],
				"typeProperties": {
					"tableName": "YPS_STAGING"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SAPED1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_zlx')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SAPED1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SapTableResource",
				"schema": [],
				"typeProperties": {
					"tableName": "EKKO"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SAPED1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable3",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "Filter1"
						},
						{
							"name": "AlterRow1"
						}
					],
					"script": "source(output(\n\t\t{Reservation Number} as string,\n\t\t{Reservation Item} as string,\n\t\t{User name} as string,\n\t\t{Movement Type} as string,\n\t\t{Requirement Date} as string,\n\t\t{Account Doc Creation Date} as string,\n\t\t{Material Document} as string,\n\t\t{Order Number} as string,\n\t\tMaterial as string,\n\t\t{Unit Of Measure} as string,\n\t\tQuantity as decimal(13,3),\n\t\t{Goods Recipient} as string,\n\t\t{Material Desc} as string,\n\t\t{Document Date} as string,\n\t\t{Document User} as string,\n\t\tDepartment as string,\n\t\tPlant as string,\n\t\t{Full name of Person} as string,\n\t\t{TO Doc} as string,\n\t\t{TO Date} as string,\n\t\t{No Days} as integer,\n\t\t{MR Qty} as decimal(13,3),\n\t\t{Final Issued Qty} as decimal(13,3),\n\t\t{SOH Batch} as decimal(13,3),\n\t\t{Delivery in Full} as string,\n\t\t{Delivery ontime} as string,\n\t\tDIFOT as string,\n\t\t{Cost Center} as string,\n\t\t{Item deleted} as string,\n\t\t{Mvt allowed} as string,\n\t\tSLoc as string,\n\t\tBatch as string,\n\t\t{Order type} as string,\n\t\t{Created Date} as string,\n\t\t{User status} as string,\n\t\tRelease as string,\n\t\t{Release date} as string,\n\t\t{Unblock date} as string,\n\t\t{Moving Freq} as string,\n\t\t{SOH SLoc} as decimal(13,3),\n\t\t{Consignment Stock} as decimal(13,3),\n\t\t{MRP Controller} as string,\n\t\tMCAB as decimal(13,3),\n\t\t{SOH Plant} as decimal(13,3),\n\t\t{SOH Company} as decimal(13,3),\n\t\tCREATED_DATE as string,\n\t\tCREATED_TIME as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> source1\nsource1 filter(CREATED_DATE < '20190925') ~> Filter1\nFilter1 alterRow(upsertIf(CREATED_DATE<'20190925')) ~> AlterRow1\nAlterRow1 sink(input(\n\t\t{Reservation Number} as string,\n\t\t{Reservation Item} as string,\n\t\t{User name} as string,\n\t\t{Movement Type} as string,\n\t\t{Requirement Date} as string,\n\t\t{Account Doc Creation Date} as string,\n\t\t{Material Document} as string,\n\t\t{Order Number} as string,\n\t\tMaterial as string,\n\t\t{Unit Of Measure} as string,\n\t\tQuantity as decimal(13,3),\n\t\t{Goods Recipient} as string,\n\t\t{Material Desc} as string,\n\t\t{Document Date} as string,\n\t\t{Document User} as string,\n\t\tDepartment as string,\n\t\tPlant as string,\n\t\t{Full name of Person} as string,\n\t\t{TO Doc} as string,\n\t\t{TO Date} as string,\n\t\t{No Days} as integer,\n\t\t{MR Qty} as decimal(13,3),\n\t\t{Final Issued Qty} as decimal(13,3),\n\t\t{SOH Batch} as decimal(13,3),\n\t\t{Delivery in Full} as string,\n\t\t{Delivery ontime} as string,\n\t\tDIFOT as string,\n\t\t{Cost Center} as string,\n\t\t{Item deleted} as string,\n\t\t{Mvt allowed} as string,\n\t\tSLoc as string,\n\t\tBatch as string,\n\t\t{Order type} as string,\n\t\t{Created Date} as string,\n\t\t{User status} as string,\n\t\tRelease as string,\n\t\t{Release date} as string,\n\t\t{Unblock date} as string,\n\t\t{Moving Freq} as string,\n\t\t{SOH SLoc} as decimal(13,3),\n\t\t{Consignment Stock} as decimal(13,3),\n\t\t{MRP Controller} as string,\n\t\tMCAB as decimal(13,3),\n\t\t{SOH Plant} as decimal(13,3),\n\t\t{SOH Company} as decimal(13,3),\n\t\tCREATED_DATE as string,\n\t\tCREATED_TIME as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['{Reservation Number}','{Reservation Item}'],\n\tformat: 'table',\n\tmapColumn(\n\t\t{Reservation Number},\n\t\t{Reservation Item},\n\t\t{User name},\n\t\t{Movement Type},\n\t\t{Requirement Date},\n\t\t{Account Doc Creation Date},\n\t\t{Material Document},\n\t\t{Order Number},\n\t\tMaterial,\n\t\t{Unit Of Measure},\n\t\tQuantity,\n\t\t{Goods Recipient},\n\t\t{Material Desc},\n\t\t{Document Date},\n\t\t{Document User},\n\t\tDepartment,\n\t\tPlant,\n\t\t{Full name of Person},\n\t\t{TO Doc},\n\t\t{TO Date},\n\t\t{No Days},\n\t\t{MR Qty},\n\t\t{Final Issued Qty},\n\t\t{SOH Batch},\n\t\t{Delivery in Full},\n\t\t{Delivery ontime},\n\t\tDIFOT,\n\t\t{Cost Center},\n\t\t{Item deleted},\n\t\t{Mvt allowed},\n\t\tSLoc,\n\t\tBatch,\n\t\t{Order type},\n\t\t{Created Date},\n\t\t{User status},\n\t\tRelease,\n\t\t{Release date},\n\t\t{Unblock date},\n\t\t{Moving Freq},\n\t\t{SOH SLoc},\n\t\t{Consignment Stock},\n\t\t{MRP Controller},\n\t\tMCAB,\n\t\t{SOH Plant},\n\t\t{SOH Company},\n\t\tCREATED_DATE,\n\t\tCREATED_TIME\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow2')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Json1",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Json1",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionRootPath: 'restapi/blob/bot_file.json',\n\twildcardPaths:['blob/bot_file.json']) ~> source1\nsource1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP Extraction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SAP P&S Extraction",
				"activities": [
					{
						"name": "SAP PS Extraction",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapTableSource",
								"rfcTableOptions": {
									"value": "EXTRACTION_DATE > '@{activity('Lookup1').output.firstRow.WatermarkValue}'",
									"type": "Expression"
								},
								"customRfcReadTableFunctionModule": "",
								"rfcTableFields": "ASTTX,AUART,AUFNR,BDMNG,BDTER,BLDAT,BWART,CHARG,CONSIGN,CPUDT,CREATED_DATE,CREATED_TIME,DFULL,DIFOT,DISPO,DOCUSR,ENMNG,ERDAT,FTRMI,KOSTL,LGORT,MAKTX,MANDT,MATNR,MBLNR,MCAB,MEINS,MENGE,MVGFREQ,NAMTX,NDAYS,ONHAND,ONHAND2,ONHAND3,ONTIME,QDATU,RELEA,RSNUM,RSPOS,TANUM,TSOH,UDATE,UDEPT,USNAM,WEMPF,WERKS,XLOEK,XWAOK,EXTRACTION_DATE",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[sapUpsertReservation]",
								"sqlWriterTableType": "TypRes2",
								"storedProcedureTableTypeParameterName": "Reservation",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RSNUM",
											"type": "String"
										},
										"sink": {
											"name": "Reservation Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RSPOS",
											"type": "String"
										},
										"sink": {
											"name": "Reservation Item",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "USNAM",
											"type": "String"
										},
										"sink": {
											"name": "User name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BWART",
											"type": "String"
										},
										"sink": {
											"name": "Movement Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BDTER",
											"type": "String"
										},
										"sink": {
											"name": "Requirement Date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CPUDT",
											"type": "String"
										},
										"sink": {
											"name": "Account Doc Creation Date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MBLNR",
											"type": "String"
										},
										"sink": {
											"name": "Material Document",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AUFNR",
											"type": "String"
										},
										"sink": {
											"name": "Order Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MATNR",
											"type": "String"
										},
										"sink": {
											"name": "Material",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MEINS",
											"type": "String"
										},
										"sink": {
											"name": "Unit Of Measure",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MENGE",
											"type": "Decimal"
										},
										"sink": {
											"name": "Quantity",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "WEMPF",
											"type": "String"
										},
										"sink": {
											"name": "Goods Recipient",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MAKTX",
											"type": "String"
										},
										"sink": {
											"name": "Material Desc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BLDAT",
											"type": "String"
										},
										"sink": {
											"name": "Document Date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DOCUSR",
											"type": "String"
										},
										"sink": {
											"name": "Document User",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDEPT",
											"type": "String"
										},
										"sink": {
											"name": "Department",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WERKS",
											"type": "String"
										},
										"sink": {
											"name": "Plant",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NAMTX",
											"type": "String"
										},
										"sink": {
											"name": "Full name of Person",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TANUM",
											"type": "String"
										},
										"sink": {
											"name": "TO Doc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QDATU",
											"type": "String"
										},
										"sink": {
											"name": "TO Date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NDAYS",
											"type": "Int32"
										},
										"sink": {
											"name": "No Days",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BDMNG",
											"type": "Decimal"
										},
										"sink": {
											"name": "MR Qty",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ENMNG",
											"type": "Decimal"
										},
										"sink": {
											"name": "Final Issued Qty",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ONHAND",
											"type": "Decimal"
										},
										"sink": {
											"name": "SOH Batch",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DFULL",
											"type": "String"
										},
										"sink": {
											"name": "Delivery in Full",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ONTIME",
											"type": "String"
										},
										"sink": {
											"name": "Delivery ontime",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DIFOT",
											"type": "String"
										},
										"sink": {
											"name": "DIFOT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "KOSTL",
											"type": "String"
										},
										"sink": {
											"name": "Cost Center",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "XLOEK",
											"type": "String"
										},
										"sink": {
											"name": "Item deleted",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "XWAOK",
											"type": "String"
										},
										"sink": {
											"name": "Mvt allowed",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LGORT",
											"type": "String"
										},
										"sink": {
											"name": "SLoc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CHARG",
											"type": "String"
										},
										"sink": {
											"name": "Batch",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AUART",
											"type": "String"
										},
										"sink": {
											"name": "Order type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ERDAT",
											"type": "String"
										},
										"sink": {
											"name": "Created Date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ASTTX",
											"type": "String"
										},
										"sink": {
											"name": "User status",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RELEA",
											"type": "String"
										},
										"sink": {
											"name": "Release",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FTRMI",
											"type": "String"
										},
										"sink": {
											"name": "Release date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE",
											"type": "String"
										},
										"sink": {
											"name": "Unblock date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MVGFREQ",
											"type": "String"
										},
										"sink": {
											"name": "Moving Freq",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ONHAND2",
											"type": "Decimal"
										},
										"sink": {
											"name": "SOH SLoc",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CONSIGN",
											"type": "Decimal"
										},
										"sink": {
											"name": "Consignment Stock",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DISPO",
											"type": "String"
										},
										"sink": {
											"name": "MRP Controller",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MCAB",
											"type": "Decimal"
										},
										"sink": {
											"name": "MCAB",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TSOH",
											"type": "Decimal"
										},
										"sink": {
											"name": "SOH Plant",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ONHAND3",
											"type": "Decimal"
										},
										"sink": {
											"name": "SOH Company",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CREATED_DATE",
											"type": "String"
										},
										"sink": {
											"name": "CREATED_DATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CREATED_TIME",
											"type": "String"
										},
										"sink": {
											"name": "CREATED_TIME",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SapTableResource1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource"
							},
							"dataset": {
								"referenceName": "AzureSqlTable2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SapTableResource1')]"
			]
		}
	]
}