SAPECC/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "SAPECC"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"RestService1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'RestService1'"
		},
		"SAPECC_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SAPECC'"
		},
		"SAPED1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SAPED1'"
		},
		"SapHana1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SapHana1'"
		},
		"RestService1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://surveybot.io/api/v1/surveys/4cd466510cda3fda20b4fb320e6de470/responses?page=1&per_page=10&offset=0&api_key=Z4ehauCnEHozaX_JGcLR9eYf26Aj6SApp4_eEp-HKnYD_t2eOXjncLynX4qqtX-P9x28B4Mnqud6Rx0Q"
		},
		"RestService1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "vivek02"
		},
		"SAPECC_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "100"
		},
		"SAPECC_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "vivek02"
		},
		"SAPECC_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "myerpabapdev.smrt.com.sg"
		},
		"SAPECC_properties_typeProperties_systemNumber": {
			"type": "string",
			"defaultValue": "00"
		},
		"SAPED1_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "100"
		},
		"SAPED1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "vivek02"
		},
		"SAPED1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "myerpabapdev.smrt.com.sg"
		},
		"SAPED1_properties_typeProperties_systemNumber": {
			"type": "string",
			"defaultValue": "00"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "AZURE SQL Database",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP-IntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "SAP ECC Integration Runtime",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('RestService1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('RestService1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Reservation Number",
						"type": "nchar"
					},
					{
						"name": "Reservation Item",
						"type": "nchar"
					},
					{
						"name": "User name",
						"type": "char"
					},
					{
						"name": "Movement Type",
						"type": "char"
					},
					{
						"name": "Requirement Date",
						"type": "char"
					},
					{
						"name": "Account Doc Creation Date",
						"type": "char"
					},
					{
						"name": "Material Document",
						"type": "char"
					},
					{
						"name": "Order Number",
						"type": "char"
					},
					{
						"name": "Material",
						"type": "char"
					},
					{
						"name": "Unit Of Measure",
						"type": "char"
					},
					{
						"name": "Quantity",
						"type": "decimal",
						"precision": 13,
						"scale": 3
					},
					{
						"name": "Goods Recipient",
						"type": "char"
					},
					{
						"name": "Material Desc",
						"type": "char"
					},
					{
						"name": "Document Date",
						"type": "char"
					},
					{
						"name": "Document User",
						"type": "char"
					},
					{
						"name": "Department",
						"type": "char"
					},
					{
						"name": "Plant",
						"type": "char"
					},
					{
						"name": "Full name of Person",
						"type": "char"
					},
					{
						"name": "TO Doc",
						"type": "nchar"
					},
					{
						"name": "TO Date",
						"type": "char"
					},
					{
						"name": "No Days",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MR Qty",
						"type": "decimal",
						"precision": 13,
						"scale": 3
					},
					{
						"name": "Final Issued Qty",
						"type": "decimal",
						"precision": 13,
						"scale": 3
					},
					{
						"name": "SOH Batch",
						"type": "decimal",
						"precision": 13,
						"scale": 3
					},
					{
						"name": "Delivery in Full",
						"type": "char"
					},
					{
						"name": "Delivery ontime",
						"type": "char"
					},
					{
						"name": "DIFOT",
						"type": "char"
					},
					{
						"name": "Cost Center",
						"type": "char"
					},
					{
						"name": "Item deleted",
						"type": "char"
					},
					{
						"name": "Mvt allowed",
						"type": "char"
					},
					{
						"name": "SLoc",
						"type": "char"
					},
					{
						"name": "Batch",
						"type": "char"
					},
					{
						"name": "Order type",
						"type": "char"
					},
					{
						"name": "Created Date",
						"type": "char"
					},
					{
						"name": "User status",
						"type": "char"
					},
					{
						"name": "Release",
						"type": "char"
					},
					{
						"name": "Release date",
						"type": "char"
					},
					{
						"name": "Unblock date",
						"type": "char"
					},
					{
						"name": "Moving Freq",
						"type": "char"
					},
					{
						"name": "SOH SLoc",
						"type": "decimal",
						"precision": 13,
						"scale": 3
					},
					{
						"name": "Consignment Stock",
						"type": "decimal",
						"precision": 13,
						"scale": 3
					},
					{
						"name": "MRP Controller",
						"type": "char"
					},
					{
						"name": "MCAB",
						"type": "decimal",
						"precision": 13,
						"scale": 3
					},
					{
						"name": "SOH Plant",
						"type": "decimal",
						"precision": 13,
						"scale": 3
					},
					{
						"name": "SOH Company",
						"type": "decimal",
						"precision": 13,
						"scale": 3
					},
					{
						"name": "CREATED_DATE",
						"type": "char"
					},
					{
						"name": "CREATED_TIME",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "YPS_Mat_Res2"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "WatermarkValue",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "watermarktable2"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SAP SQL Table",
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Reservation Number",
						"type": "nchar"
					},
					{
						"name": "Reservation Item",
						"type": "nchar"
					},
					{
						"name": "User name",
						"type": "char"
					},
					{
						"name": "Movement Type",
						"type": "char"
					},
					{
						"name": "Requirement Date",
						"type": "char"
					},
					{
						"name": "Account Doc Creation Date",
						"type": "char"
					},
					{
						"name": "Material Document",
						"type": "char"
					},
					{
						"name": "Order Number",
						"type": "char"
					},
					{
						"name": "Material",
						"type": "char"
					},
					{
						"name": "Unit Of Measure",
						"type": "char"
					},
					{
						"name": "Quantity",
						"type": "decimal",
						"precision": 13,
						"scale": 3
					},
					{
						"name": "Goods Recipient",
						"type": "char"
					},
					{
						"name": "Material Desc",
						"type": "char"
					},
					{
						"name": "Document Date",
						"type": "char"
					},
					{
						"name": "Document User",
						"type": "char"
					},
					{
						"name": "Department",
						"type": "char"
					},
					{
						"name": "Plant",
						"type": "char"
					},
					{
						"name": "Full name of Person",
						"type": "char"
					},
					{
						"name": "TO Doc",
						"type": "nchar"
					},
					{
						"name": "TO Date",
						"type": "char"
					},
					{
						"name": "No Days",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MR Qty",
						"type": "decimal",
						"precision": 13,
						"scale": 3
					},
					{
						"name": "Final Issued Qty",
						"type": "decimal",
						"precision": 13,
						"scale": 3
					},
					{
						"name": "SOH Batch",
						"type": "decimal",
						"precision": 13,
						"scale": 3
					},
					{
						"name": "Delivery in Full",
						"type": "char"
					},
					{
						"name": "Delivery ontime",
						"type": "char"
					},
					{
						"name": "DIFOT",
						"type": "char"
					},
					{
						"name": "Cost Center",
						"type": "char"
					},
					{
						"name": "Item deleted",
						"type": "char"
					},
					{
						"name": "Mvt allowed",
						"type": "char"
					},
					{
						"name": "SLoc",
						"type": "char"
					},
					{
						"name": "Batch",
						"type": "char"
					},
					{
						"name": "Order type",
						"type": "char"
					},
					{
						"name": "Created Date",
						"type": "char"
					},
					{
						"name": "User status",
						"type": "char"
					},
					{
						"name": "Release",
						"type": "char"
					},
					{
						"name": "Release date",
						"type": "char"
					},
					{
						"name": "Unblock date",
						"type": "char"
					},
					{
						"name": "Moving Freq",
						"type": "char"
					},
					{
						"name": "SOH SLoc",
						"type": "decimal",
						"precision": 13,
						"scale": 3
					},
					{
						"name": "Consignment Stock",
						"type": "decimal",
						"precision": 13,
						"scale": 3
					},
					{
						"name": "MRP Controller",
						"type": "char"
					},
					{
						"name": "MCAB",
						"type": "decimal",
						"precision": 13,
						"scale": 3
					},
					{
						"name": "SOH Plant",
						"type": "decimal",
						"precision": 13,
						"scale": 3
					},
					{
						"name": "SOH Company",
						"type": "decimal",
						"precision": 13,
						"scale": 3
					},
					{
						"name": "CREATED_DATE",
						"type": "char"
					},
					{
						"name": "CREATED_TIME",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "YPS_Mat_Res3"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_zlx')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ebeln",
						"type": "varchar"
					},
					{
						"name": "Company_Code",
						"type": "char"
					},
					{
						"name": "Purchasing_Document_Category",
						"type": "char"
					},
					{
						"name": "Purchasing_Document_Type",
						"type": "char"
					},
					{
						"name": "Control_indicator",
						"type": "char"
					},
					{
						"name": "Deletion_Indicator",
						"type": "char"
					},
					{
						"name": "Status",
						"type": "char"
					},
					{
						"name": "Created_on",
						"type": "char"
					},
					{
						"name": "created_by",
						"type": "char"
					},
					{
						"name": "Purchasing_Org",
						"type": "char"
					},
					{
						"name": "Purchasing_Grp",
						"type": "char"
					},
					{
						"name": "Currency_Key",
						"type": "char"
					},
					{
						"name": "Total_Value_at_release",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[ekko]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WaterMarkTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "WatermarkValue",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "watermarktable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAPECC')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SAPECC",
				"annotations": [],
				"type": "SapTable",
				"typeProperties": {
					"clientId": "[parameters('SAPECC_properties_typeProperties_clientId')]",
					"language": "en",
					"sncMode": false,
					"userName": "[parameters('SAPECC_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SAPECC_password')]"
					},
					"server": "[parameters('SAPECC_properties_typeProperties_server')]",
					"systemNumber": "[parameters('SAPECC_properties_typeProperties_systemNumber')]"
				},
				"connectVia": {
					"referenceName": "SAP-IntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SAP-IntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAPED1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SAPED1",
				"annotations": [],
				"type": "SapTable",
				"typeProperties": {
					"clientId": "[parameters('SAPED1_properties_typeProperties_clientId')]",
					"language": "",
					"sncMode": false,
					"userName": "[parameters('SAPED1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SAPED1_password')]"
					},
					"server": "[parameters('SAPED1_properties_typeProperties_server')]",
					"systemNumber": "[parameters('SAPED1_properties_typeProperties_systemNumber')]"
				},
				"connectVia": {
					"referenceName": "SAP-IntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SAP-IntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SapHana1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "HANA views",
				"annotations": [],
				"type": "SapHana",
				"typeProperties": {
					"connectionString": "[parameters('SapHana1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "SAP-IntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SAP-IntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Emp_id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Emp_name",
						"type": "char"
					},
					{
						"name": "First_name",
						"type": "char"
					},
					{
						"name": "Last_name",
						"type": "char"
					},
					{
						"name": "Question_id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Question_text",
						"type": "char"
					},
					{
						"name": "Answer",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "EMPLOYEE_RESPONSE2"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SapTableResource1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SAPED1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SapTableResource",
				"schema": [],
				"typeProperties": {
					"tableName": "YPS_STAGING"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SAPED1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_zlx')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SAPED1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SapTableResource",
				"schema": [],
				"typeProperties": {
					"tableName": "EKKO"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SAPED1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							},
							"name": "source1",
							"typeProperties": {}
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable3",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "Filter1"
						},
						{
							"name": "AlterRow1"
						}
					],
					"script": "source(output(\n\t\t{Reservation Number} as string,\n\t\t{Reservation Item} as string,\n\t\t{User name} as string,\n\t\t{Movement Type} as string,\n\t\t{Requirement Date} as string,\n\t\t{Account Doc Creation Date} as string,\n\t\t{Material Document} as string,\n\t\t{Order Number} as string,\n\t\tMaterial as string,\n\t\t{Unit Of Measure} as string,\n\t\tQuantity as decimal(13,3),\n\t\t{Goods Recipient} as string,\n\t\t{Material Desc} as string,\n\t\t{Document Date} as string,\n\t\t{Document User} as string,\n\t\tDepartment as string,\n\t\tPlant as string,\n\t\t{Full name of Person} as string,\n\t\t{TO Doc} as string,\n\t\t{TO Date} as string,\n\t\t{No Days} as integer,\n\t\t{MR Qty} as decimal(13,3),\n\t\t{Final Issued Qty} as decimal(13,3),\n\t\t{SOH Batch} as decimal(13,3),\n\t\t{Delivery in Full} as string,\n\t\t{Delivery ontime} as string,\n\t\tDIFOT as string,\n\t\t{Cost Center} as string,\n\t\t{Item deleted} as string,\n\t\t{Mvt allowed} as string,\n\t\tSLoc as string,\n\t\tBatch as string,\n\t\t{Order type} as string,\n\t\t{Created Date} as string,\n\t\t{User status} as string,\n\t\tRelease as string,\n\t\t{Release date} as string,\n\t\t{Unblock date} as string,\n\t\t{Moving Freq} as string,\n\t\t{SOH SLoc} as decimal(13,3),\n\t\t{Consignment Stock} as decimal(13,3),\n\t\t{MRP Controller} as string,\n\t\tMCAB as decimal(13,3),\n\t\t{SOH Plant} as decimal(13,3),\n\t\t{SOH Company} as decimal(13,3),\n\t\tCREATED_DATE as string,\n\t\tCREATED_TIME as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> source1\nsource1 filter(CREATED_DATE < '20190925') ~> Filter1\nFilter1 alterRow(upsertIf(CREATED_DATE<'20190925')) ~> AlterRow1\nAlterRow1 sink(input(\n\t\t{Reservation Number} as string,\n\t\t{Reservation Item} as string,\n\t\t{User name} as string,\n\t\t{Movement Type} as string,\n\t\t{Requirement Date} as string,\n\t\t{Account Doc Creation Date} as string,\n\t\t{Material Document} as string,\n\t\t{Order Number} as string,\n\t\tMaterial as string,\n\t\t{Unit Of Measure} as string,\n\t\tQuantity as decimal(13,3),\n\t\t{Goods Recipient} as string,\n\t\t{Material Desc} as string,\n\t\t{Document Date} as string,\n\t\t{Document User} as string,\n\t\tDepartment as string,\n\t\tPlant as string,\n\t\t{Full name of Person} as string,\n\t\t{TO Doc} as string,\n\t\t{TO Date} as string,\n\t\t{No Days} as integer,\n\t\t{MR Qty} as decimal(13,3),\n\t\t{Final Issued Qty} as decimal(13,3),\n\t\t{SOH Batch} as decimal(13,3),\n\t\t{Delivery in Full} as string,\n\t\t{Delivery ontime} as string,\n\t\tDIFOT as string,\n\t\t{Cost Center} as string,\n\t\t{Item deleted} as string,\n\t\t{Mvt allowed} as string,\n\t\tSLoc as string,\n\t\tBatch as string,\n\t\t{Order type} as string,\n\t\t{Created Date} as string,\n\t\t{User status} as string,\n\t\tRelease as string,\n\t\t{Release date} as string,\n\t\t{Unblock date} as string,\n\t\t{Moving Freq} as string,\n\t\t{SOH SLoc} as decimal(13,3),\n\t\t{Consignment Stock} as decimal(13,3),\n\t\t{MRP Controller} as string,\n\t\tMCAB as decimal(13,3),\n\t\t{SOH Plant} as decimal(13,3),\n\t\t{SOH Company} as decimal(13,3),\n\t\tCREATED_DATE as string,\n\t\tCREATED_TIME as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['{Reservation Number}','{Reservation Item}'],\n\tformat: 'table',\n\tmapColumn(\n\t\t{Reservation Number},\n\t\t{Reservation Item},\n\t\t{User name},\n\t\t{Movement Type},\n\t\t{Requirement Date},\n\t\t{Account Doc Creation Date},\n\t\t{Material Document},\n\t\t{Order Number},\n\t\tMaterial,\n\t\t{Unit Of Measure},\n\t\tQuantity,\n\t\t{Goods Recipient},\n\t\t{Material Desc},\n\t\t{Document Date},\n\t\t{Document User},\n\t\tDepartment,\n\t\tPlant,\n\t\t{Full name of Person},\n\t\t{TO Doc},\n\t\t{TO Date},\n\t\t{No Days},\n\t\t{MR Qty},\n\t\t{Final Issued Qty},\n\t\t{SOH Batch},\n\t\t{Delivery in Full},\n\t\t{Delivery ontime},\n\t\tDIFOT,\n\t\t{Cost Center},\n\t\t{Item deleted},\n\t\t{Mvt allowed},\n\t\tSLoc,\n\t\tBatch,\n\t\t{Order type},\n\t\t{Created Date},\n\t\t{User status},\n\t\tRelease,\n\t\t{Release date},\n\t\t{Unblock date},\n\t\t{Moving Freq},\n\t\t{SOH SLoc},\n\t\t{Consignment Stock},\n\t\t{MRP Controller},\n\t\tMCAB,\n\t\t{SOH Plant},\n\t\t{SOH Company},\n\t\tCREATED_DATE,\n\t\tCREATED_TIME\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Rest Copy",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['responses'][0]['respondent']['id']"
										},
										"sink": {
											"name": "Emp_id"
										}
									},
									{
										"source": {
											"path": "$['responses'][0]['respondent']['name']"
										},
										"sink": {
											"name": "Emp_name"
										}
									},
									{
										"source": {
											"path": "$['responses'][0]['respondent']['first_name']"
										},
										"sink": {
											"name": "First_name"
										}
									},
									{
										"source": {
											"path": "$['responses'][0]['respondent']['last_name']"
										},
										"sink": {
											"name": "Last_name"
										}
									},
									{
										"source": {
											"path": "$['responses'][0]['answers'][0]['question_id']"
										},
										"sink": {
											"name": "Question_id"
										}
									},
									{
										"source": {
											"path": "$['responses'][0]['answers'][0]['question_text']"
										},
										"sink": {
											"name": "Question_text"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "RestResource1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable5",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestResource1')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable5')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP Extraction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SAP P&S Extraction",
				"activities": [
					{
						"name": "SAP PS Extraction",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapTableSource",
								"rfcTableOptions": {
									"value": "EXTRACTION_DATE > '@{activity('Lookup1').output.firstRow.WatermarkValue}'",
									"type": "Expression"
								},
								"customRfcReadTableFunctionModule": "",
								"rfcTableFields": "ASTTX,AUART,AUFNR,BDMNG,BDTER,BLDAT,BWART,CHARG,CONSIGN,CPUDT,CREATED_DATE,CREATED_TIME,DFULL,DIFOT,DISPO,DOCUSR,ENMNG,ERDAT,FTRMI,KOSTL,LGORT,MAKTX,MANDT,MATNR,MBLNR,MCAB,MEINS,MENGE,MVGFREQ,NAMTX,NDAYS,ONHAND,ONHAND2,ONHAND3,ONTIME,QDATU,RELEA,RSNUM,RSPOS,TANUM,TSOH,UDATE,UDEPT,USNAM,WEMPF,WERKS,XLOEK,XWAOK,EXTRACTION_DATE",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[sapUpsertReservation]",
								"sqlWriterTableType": "TypRes2",
								"storedProcedureTableTypeParameterName": "Reservation",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RSNUM",
											"type": "String"
										},
										"sink": {
											"name": "Reservation Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RSPOS",
											"type": "String"
										},
										"sink": {
											"name": "Reservation Item",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "USNAM",
											"type": "String"
										},
										"sink": {
											"name": "User name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BWART",
											"type": "String"
										},
										"sink": {
											"name": "Movement Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BDTER",
											"type": "String"
										},
										"sink": {
											"name": "Requirement Date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CPUDT",
											"type": "String"
										},
										"sink": {
											"name": "Account Doc Creation Date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MBLNR",
											"type": "String"
										},
										"sink": {
											"name": "Material Document",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AUFNR",
											"type": "String"
										},
										"sink": {
											"name": "Order Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MATNR",
											"type": "String"
										},
										"sink": {
											"name": "Material",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MEINS",
											"type": "String"
										},
										"sink": {
											"name": "Unit Of Measure",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MENGE",
											"type": "Decimal"
										},
										"sink": {
											"name": "Quantity",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "WEMPF",
											"type": "String"
										},
										"sink": {
											"name": "Goods Recipient",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MAKTX",
											"type": "String"
										},
										"sink": {
											"name": "Material Desc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BLDAT",
											"type": "String"
										},
										"sink": {
											"name": "Document Date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DOCUSR",
											"type": "String"
										},
										"sink": {
											"name": "Document User",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDEPT",
											"type": "String"
										},
										"sink": {
											"name": "Department",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WERKS",
											"type": "String"
										},
										"sink": {
											"name": "Plant",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NAMTX",
											"type": "String"
										},
										"sink": {
											"name": "Full name of Person",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TANUM",
											"type": "String"
										},
										"sink": {
											"name": "TO Doc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QDATU",
											"type": "String"
										},
										"sink": {
											"name": "TO Date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NDAYS",
											"type": "Int32"
										},
										"sink": {
											"name": "No Days",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BDMNG",
											"type": "Decimal"
										},
										"sink": {
											"name": "MR Qty",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ENMNG",
											"type": "Decimal"
										},
										"sink": {
											"name": "Final Issued Qty",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ONHAND",
											"type": "Decimal"
										},
										"sink": {
											"name": "SOH Batch",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DFULL",
											"type": "String"
										},
										"sink": {
											"name": "Delivery in Full",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ONTIME",
											"type": "String"
										},
										"sink": {
											"name": "Delivery ontime",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DIFOT",
											"type": "String"
										},
										"sink": {
											"name": "DIFOT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "KOSTL",
											"type": "String"
										},
										"sink": {
											"name": "Cost Center",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "XLOEK",
											"type": "String"
										},
										"sink": {
											"name": "Item deleted",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "XWAOK",
											"type": "String"
										},
										"sink": {
											"name": "Mvt allowed",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LGORT",
											"type": "String"
										},
										"sink": {
											"name": "SLoc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CHARG",
											"type": "String"
										},
										"sink": {
											"name": "Batch",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AUART",
											"type": "String"
										},
										"sink": {
											"name": "Order type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ERDAT",
											"type": "String"
										},
										"sink": {
											"name": "Created Date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ASTTX",
											"type": "String"
										},
										"sink": {
											"name": "User status",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RELEA",
											"type": "String"
										},
										"sink": {
											"name": "Release",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FTRMI",
											"type": "String"
										},
										"sink": {
											"name": "Release date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE",
											"type": "String"
										},
										"sink": {
											"name": "Unblock date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MVGFREQ",
											"type": "String"
										},
										"sink": {
											"name": "Moving Freq",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ONHAND2",
											"type": "Decimal"
										},
										"sink": {
											"name": "SOH SLoc",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CONSIGN",
											"type": "Decimal"
										},
										"sink": {
											"name": "Consignment Stock",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DISPO",
											"type": "String"
										},
										"sink": {
											"name": "MRP Controller",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MCAB",
											"type": "Decimal"
										},
										"sink": {
											"name": "MCAB",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TSOH",
											"type": "Decimal"
										},
										"sink": {
											"name": "SOH Plant",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ONHAND3",
											"type": "Decimal"
										},
										"sink": {
											"name": "SOH Company",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CREATED_DATE",
											"type": "String"
										},
										"sink": {
											"name": "CREATED_DATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CREATED_TIME",
											"type": "String"
										},
										"sink": {
											"name": "CREATED_TIME",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SapTableResource1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource"
							},
							"dataset": {
								"referenceName": "AzureSqlTable2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SapTableResource1')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP Incremental')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SAP Incremental Load d",
				"activities": [
					{
						"name": "dataflow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]"
			]
		}
	]
}