SAPECC/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "SAPECC"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Health BOT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Rest Copy",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['question_id']"
										},
										"sink": {
											"name": "Question_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['question_text']"
										},
										"sink": {
											"name": "Question_text",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['content']"
										},
										"sink": {
											"name": "Answer",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['responses'][0]['started_at']"
										},
										"sink": {
											"name": "Started_at",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['responses'][0]['completed_at']"
										},
										"sink": {
											"name": "Completed_at",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['responses'][0]['id']"
										},
										"sink": {
											"name": "GUID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['responses'][0]['respondent']['id']"
										},
										"sink": {
											"name": "Emp_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['responses'][0]['respondent']['name']"
										},
										"sink": {
											"name": "Emp_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['responses'][0]['respondent']['first_name']"
										},
										"sink": {
											"name": "First_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['responses'][0]['respondent']['last_name']"
										},
										"sink": {
											"name": "Last_name",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['responses'][0]['answers']"
							}
						},
						"inputs": [
							{
								"referenceName": "RestResource1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable5",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/REST_to_BLOB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "REST API to BLOB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"quoteAllText": true
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['stats']['showing']"
										},
										"sink": {
											"path": "$['stats']['showing']"
										}
									},
									{
										"source": {
											"path": "$['stats']['total']"
										},
										"sink": {
											"path": "$['stats']['total']"
										}
									},
									{
										"source": {
											"path": "$['stats']['completed']"
										},
										"sink": {
											"path": "$['stats']['completed']"
										}
									},
									{
										"source": {
											"path": "$['stats']['incomplete']"
										},
										"sink": {
											"path": "$['stats']['incomplete']"
										}
									},
									{
										"source": {
											"path": "$['questions'][0]['id']"
										},
										"sink": {
											"path": "$['questions_id']"
										}
									},
									{
										"source": {
											"path": "$['questions'][0]['question_type']"
										},
										"sink": {
											"path": "$['questions_question_type']"
										}
									},
									{
										"source": {
											"path": "$['questions'][0]['question_text']"
										},
										"sink": {
											"path": "$['questions_question_text']"
										}
									},
									{
										"source": {
											"path": "$['questions'][0]['question_position']"
										},
										"sink": {
											"path": "$['questions_question_position']"
										}
									},
									{
										"source": {
											"path": "[['completed']"
										},
										"sink": {
											"path": "$['responses_completed']"
										}
									},
									{
										"source": {
											"path": "[['started_at']"
										},
										"sink": {
											"path": "$['responses_started_at']"
										}
									},
									{
										"source": {
											"path": "[['completed_at']"
										},
										"sink": {
											"path": "$['responses_completed_at']"
										}
									},
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"path": "$['responses_id']"
										}
									},
									{
										"source": {
											"path": "[['respondent']['id']"
										},
										"sink": {
											"path": "$['respondent_id']"
										}
									},
									{
										"source": {
											"path": "[['respondent']['name']"
										},
										"sink": {
											"path": "$['respondent_name']"
										}
									},
									{
										"source": {
											"path": "[['respondent']['first_name']"
										},
										"sink": {
											"path": "$['respondent_first_name']"
										}
									},
									{
										"source": {
											"path": "[['respondent']['last_name']"
										},
										"sink": {
											"path": "$['respondent_last_name']"
										}
									},
									{
										"source": {
											"path": "[['answers'][0]['question_id']"
										},
										"sink": {
											"path": "$['answers_question_id']"
										}
									},
									{
										"source": {
											"path": "[['answers'][0]['question_text']"
										},
										"sink": {
											"path": "$['answers_question_text']"
										}
									},
									{
										"source": {
											"path": "[['answers'][0]['content']"
										},
										"sink": {
											"path": "$['answers_content']"
										}
									}
								],
								"collectionReference": "$['responses']"
							}
						},
						"inputs": [
							{
								"referenceName": "RestResource1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Json1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BLOB_to_SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BLOB to SQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['responses_started_at']"
										},
										"sink": {
											"name": "Started_at",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['responses_completed_at']"
										},
										"sink": {
											"name": "Completed_at",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['responses_id']"
										},
										"sink": {
											"name": "GUID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['respondent_id']"
										},
										"sink": {
											"name": "Emp_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['respondent_name']"
										},
										"sink": {
											"name": "Emp_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['respondent_first_name']"
										},
										"sink": {
											"name": "First_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['respondent_last_name']"
										},
										"sink": {
											"name": "Last_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['answers_question_id']"
										},
										"sink": {
											"name": "Question_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['answers_question_text']"
										},
										"sink": {
											"name": "Question_text",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['answers_content']"
										},
										"sink": {
											"name": "Answer",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Json1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable5",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow2')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Json1",
								"type": "DatasetReference"
							},
							"name": "source1",
							"typeProperties": {}
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Json1",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionRootPath: 'restapi/blob/bot_file.json',\n\twildcardPaths:['blob/bot_file.json']) ~> source1\nsource1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP Extraction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SAP P&S Extraction",
				"activities": [
					{
						"name": "SAP PS Extraction",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapTableSource",
								"rfcTableOptions": {
									"value": "EXTRACTION_DATE > '@{activity('Lookup1').output.firstRow.WatermarkValue}'",
									"type": "Expression"
								},
								"customRfcReadTableFunctionModule": "",
								"rfcTableFields": "ASTTX,AUART,AUFNR,BDMNG,BDTER,BLDAT,BWART,CHARG,CONSIGN,CPUDT,CREATED_DATE,CREATED_TIME,DFULL,DIFOT,DISPO,DOCUSR,ENMNG,ERDAT,FTRMI,KOSTL,LGORT,MAKTX,MANDT,MATNR,MBLNR,MCAB,MEINS,MENGE,MVGFREQ,NAMTX,NDAYS,ONHAND,ONHAND2,ONHAND3,ONTIME,QDATU,RELEA,RSNUM,RSPOS,TANUM,TSOH,UDATE,UDEPT,USNAM,WEMPF,WERKS,XLOEK,XWAOK,EXTRACTION_DATE",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[sapUpsertReservation]",
								"sqlWriterTableType": "TypRes2",
								"storedProcedureTableTypeParameterName": "Reservation",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RSNUM",
											"type": "String"
										},
										"sink": {
											"name": "Reservation Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RSPOS",
											"type": "String"
										},
										"sink": {
											"name": "Reservation Item",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "USNAM",
											"type": "String"
										},
										"sink": {
											"name": "User name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BWART",
											"type": "String"
										},
										"sink": {
											"name": "Movement Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BDTER",
											"type": "String"
										},
										"sink": {
											"name": "Requirement Date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CPUDT",
											"type": "String"
										},
										"sink": {
											"name": "Account Doc Creation Date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MBLNR",
											"type": "String"
										},
										"sink": {
											"name": "Material Document",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AUFNR",
											"type": "String"
										},
										"sink": {
											"name": "Order Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MATNR",
											"type": "String"
										},
										"sink": {
											"name": "Material",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MEINS",
											"type": "String"
										},
										"sink": {
											"name": "Unit Of Measure",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MENGE",
											"type": "Decimal"
										},
										"sink": {
											"name": "Quantity",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "WEMPF",
											"type": "String"
										},
										"sink": {
											"name": "Goods Recipient",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MAKTX",
											"type": "String"
										},
										"sink": {
											"name": "Material Desc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BLDAT",
											"type": "String"
										},
										"sink": {
											"name": "Document Date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DOCUSR",
											"type": "String"
										},
										"sink": {
											"name": "Document User",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDEPT",
											"type": "String"
										},
										"sink": {
											"name": "Department",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WERKS",
											"type": "String"
										},
										"sink": {
											"name": "Plant",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NAMTX",
											"type": "String"
										},
										"sink": {
											"name": "Full name of Person",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TANUM",
											"type": "String"
										},
										"sink": {
											"name": "TO Doc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QDATU",
											"type": "String"
										},
										"sink": {
											"name": "TO Date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NDAYS",
											"type": "Int32"
										},
										"sink": {
											"name": "No Days",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BDMNG",
											"type": "Decimal"
										},
										"sink": {
											"name": "MR Qty",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ENMNG",
											"type": "Decimal"
										},
										"sink": {
											"name": "Final Issued Qty",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ONHAND",
											"type": "Decimal"
										},
										"sink": {
											"name": "SOH Batch",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DFULL",
											"type": "String"
										},
										"sink": {
											"name": "Delivery in Full",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ONTIME",
											"type": "String"
										},
										"sink": {
											"name": "Delivery ontime",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DIFOT",
											"type": "String"
										},
										"sink": {
											"name": "DIFOT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "KOSTL",
											"type": "String"
										},
										"sink": {
											"name": "Cost Center",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "XLOEK",
											"type": "String"
										},
										"sink": {
											"name": "Item deleted",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "XWAOK",
											"type": "String"
										},
										"sink": {
											"name": "Mvt allowed",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LGORT",
											"type": "String"
										},
										"sink": {
											"name": "SLoc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CHARG",
											"type": "String"
										},
										"sink": {
											"name": "Batch",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AUART",
											"type": "String"
										},
										"sink": {
											"name": "Order type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ERDAT",
											"type": "String"
										},
										"sink": {
											"name": "Created Date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ASTTX",
											"type": "String"
										},
										"sink": {
											"name": "User status",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RELEA",
											"type": "String"
										},
										"sink": {
											"name": "Release",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FTRMI",
											"type": "String"
										},
										"sink": {
											"name": "Release date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UDATE",
											"type": "String"
										},
										"sink": {
											"name": "Unblock date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MVGFREQ",
											"type": "String"
										},
										"sink": {
											"name": "Moving Freq",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ONHAND2",
											"type": "Decimal"
										},
										"sink": {
											"name": "SOH SLoc",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CONSIGN",
											"type": "Decimal"
										},
										"sink": {
											"name": "Consignment Stock",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DISPO",
											"type": "String"
										},
										"sink": {
											"name": "MRP Controller",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MCAB",
											"type": "Decimal"
										},
										"sink": {
											"name": "MCAB",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TSOH",
											"type": "Decimal"
										},
										"sink": {
											"name": "SOH Plant",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ONHAND3",
											"type": "Decimal"
										},
										"sink": {
											"name": "SOH Company",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CREATED_DATE",
											"type": "String"
										},
										"sink": {
											"name": "CREATED_DATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CREATED_TIME",
											"type": "String"
										},
										"sink": {
											"name": "CREATED_TIME",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SapTableResource1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource"
							},
							"dataset": {
								"referenceName": "AzureSqlTable2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP Incremental')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SAP Incremental Load d",
				"activities": [
					{
						"name": "dataflow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP_ECC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SAP ECC",
				"activities": [
					{
						"name": "Copy_zlxx",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "EKKO"
							},
							{
								"name": "Destination",
								"value": "[[dbo].[ekko]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SapTableSource",
								"rowCount": 1000,
								"rfcTableOptions": "",
								"customRfcReadTableFunctionModule": "",
								"rfcTableFields": "ABGRU,ABSGR,ADDNR,ADRNR,AEDAT,ANGDT,ANGNR,AUREL_ALLOW,AUSNR,AUTLF,BEDAT,BNDDT,BSAKZ,BSART,BSTYP,BUDG_TYPE,BUKRS,BWBDT,CHECK_TYPE,CONTRACT_ALLOW,CON_DISTR_LEV,CON_OTB_REQ,CON_PREBOOK_LEV,DELPER_ALLOW,DESCRIPTION,DPAMT,DPDAT,DPPCT,DPTYP,EBELN,EINDT_ALLOW,EKGRP,EKGRP_ALLOW,EKORG,EQ_EINDT,EQ_WERKS,ERNAM,EXNUM,FIXPO,FIXPO_ALLOW,FORCE_CNT,FORCE_ID,FRGGR,FRGKE,FRGRL,FRGSX,FRGZU,GWLDT,HANDOVERLOC,HIERARCHY_EXISTS,IHRAN,IHREZ,INCO1,INCO2,KALSM,KDATB,KDATE,KEY_ID,KEY_ID_ALLOW,KNUMV,KONNR,KORNR,KTWRT,KUFIX,KUNNR,LANDS,LBLIF,LEGAL_CONTRACT,LIFNR,LIFRE,LLIEF,LOEKZ,LOGSY,LPHIS,LPONR,LTSNR_ALLOW,MANDT,MEMORY,MEMORYTYPE,MSR_ID,OTB_COND_TYPE,OTB_CURR,OTB_LEVEL,OTB_REASON,OTB_RES_VALUE,OTB_SPEC_VALUE,OTB_STATUS,OTB_VALUE,PINCR,POHF_TYPE,PROCSTAT,PSTYP_ALLOW,REASON_CODE,RELEASE_DATE,RELOC_ID,RELOC_SEQ_ID,RESWK,RETPC,RETTP,REVNO,RLWRT,SCMPROC,SHIPCOND,SOURCE_LOGSYS,SPRAS,SPR_RSN_PROFILE,STAFO,STAKO,STATU,STCEG,STCEG_L,SUBMI,TELF1,THRESHOLD_EXISTS,UNSEZ,UPINC,VERKF,VSART,VZSKZ,WAERS,WEAKT,WERKS_ALLOW,WKURS,ZBD1P,ZBD1T,ZBD2P,ZBD2T,ZBD3T,ZTERM",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "EBELN",
											"type": "String"
										},
										"sink": {
											"name": "ebeln",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BUKRS",
											"type": "String"
										},
										"sink": {
											"name": "Company_Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BSTYP",
											"type": "String"
										},
										"sink": {
											"name": "Purchasing_Document_Category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BSART",
											"type": "String"
										},
										"sink": {
											"name": "Purchasing_Document_Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BSAKZ",
											"type": "String"
										},
										"sink": {
											"name": "Control_indicator",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LOEKZ",
											"type": "String"
										},
										"sink": {
											"name": "Deletion_Indicator",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STATU",
											"type": "String"
										},
										"sink": {
											"name": "Status",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AEDAT",
											"type": "String"
										},
										"sink": {
											"name": "Created_on",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ERNAM",
											"type": "String"
										},
										"sink": {
											"name": "created_by",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EKORG",
											"type": "String"
										},
										"sink": {
											"name": "Purchasing_Org",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EKGRP",
											"type": "String"
										},
										"sink": {
											"name": "Purchasing_Grp",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WAERS",
											"type": "String"
										},
										"sink": {
											"name": "Currency_Key",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RLWRT",
											"type": "Decimal"
										},
										"sink": {
											"name": "Total_Value_at_release",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_zlx",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_zlx",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		}
	]
}